@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif !important;
}


main{
    max-width: 2733px;
    max-height: 2049px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 auto;
    background-image: url("../assets/img/yellow_bg.png");
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .index_title_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/index_title.png");
        background-position: top 90% center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }

    .left_top_logo{
        position: absolute;
        top: 50px;
        left: 30px;
        width: 290px;
        height: 53px;
        background-image: url("../assets/img/logo.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .right_top_play_button{
        position: absolute;
        top: 35px;
        right: 35px;
        width: 70px;
        height: 70px;
        background-image: url("../assets/img/right_top_play_button.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .main_product_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/main_product_full.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .left_down_cloud{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 40%;
        background-image: url("../assets/img/left_down_cloud.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .right_down_belt{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/right_belt_slogan.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .ground{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background-image: url("../assets/img/ground.png");
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .ground_wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-image: url("../assets/img/wave_ground.png");
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }

    .left_down_woman_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/woman.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 3;
    }

    .intro_slogan{

    }

    .dragon_right_small{
        position: absolute;
        bottom: 20%;
        right: 0%;
        width: 40%;
        height: 70%;
        background-image: url("../assets/img/dragon_right_small.png");
        background-position: top right -400%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .dragon_right_big_full{
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/dragon_right_big.png");
        background-position: top right -200%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .left_top_logo_full{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/logo_left_top.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .intro_slogan{
        font-size: 25px;
        top: 35%;
        left: 32%;
        position: absolute;
        z-index: 3;
    }

}